In [1]:
import pandas as pd
import re
from Methods import *
import arabic_reshaper
from bidi.algorithm import get_display

In [2]:
data = pd.read_excel("C:/College Semester 4/Data Science Tools/Assignments/Final Project/DataSetScraping3.xlsx")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22557 entries, 0 to 22556
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         22557 non-null  object
 1   Model         22557 non-null  object
 2   Options       6860 non-null   object
 3   Year          22557 non-null  int64
 4   Milage        22545 non-null  object
 5   Transmission  22557 non-null  object
 6   Location      22557 non-null  object
 7   Color         22557 non-null  object
 8   Fuel          22557 non-null  object
 9   Price         22557 non-null  object
 10  Post Date     22557 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.9+ MB

In [4]:
Modify = Modify(data)

In [5]:
data.head()

,Brand,Model,Options,Year,Milage,Transmission,Location,Color,Fuel,Price,Post Date
0,شيفروليه ...,كروز ...,جميع الكماليات / اتوماتيك\tهاى لاين,2016,"63,000 كم",أتوماتيك‎,الإسكندرية,بترولي,بنزين,"63,000 جنيه",2025-04-18
1,دى اس ...,DS7,NaN,2020,"31,000 كم",أتوماتيك‎,شبرا,أسود,بنزين,"1,650,000 جنيه",2025-04-19
2,سايبا ...,برايد ...,NaN,2020,"31,000 كم",أتوماتيك‎,شبرا,أسود,بنزين,"170,000 جنيه",2025-04-18
3,دايو ...,نوبيرا 2 ...,NaN,2000,"158,000 كم",أتوماتيك‎,مدينة نصر,بني,بنزين,"280,000 جنيه",2025-04-18
4,بي ام دبليو ...,X3,اتوماتيك / Comfort,2018,168 كم,أتوماتيك‎,6 أكتوبر,فضي,بنزين,"1,800,000 جنيه",2025-04-18

In [6]:
#df_mean_of_every_year = data_copy.groupby('Year')['Milage'].mean()

In [7]:
col_names = ['Milage','Price']
df_int  = Modify.Extract_int(col_names)

The Number of values that don't have a number is : 64

The Number of values that don't have a number is : 0

In [8]:
df_int['Price'] = df_int['Price'].astype('int64')

In [9]:
Mileage_with_Na = df_int.loc[df_int['Milage'].isna()]

In [10]:
list_years_mileage = df_int['Milage'].loc[(df_int['Year']==2005)&(df_int['Milage'].notna())]

In [11]:
df_int = df_int.drop(df_int['Year'].loc[df_int['Year']==0].index.to_list())

In [12]:
years = sorted(df_int['Year'].unique())
list_of_means  = []
for year in years:
    
    list_of_means.append(df_int['Milage'].loc[(df_int['Year']==year)&(df_int['Milage'].notna())].astype('int64').mean().round())

In [13]:
df_int['Milage'].loc[(df_int['Year']==2001)&(df_int['Milage'].notna())].astype('int64').mean().round()

222330.0

In [14]:
dict_means = {
    'Year' : years,
    'Milage' : list_of_means
}
df_means = pd.DataFrame(dict_means)

In [15]:
df_means.tail()

    Year    Milage
51  2022   66802.0
52  2023   38117.0
53  2024   12893.0
54  2025    3826.0
55  2026  165000.0

In [16]:
print(years)

[1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]

In [17]:
list_years = sorted(df_int['Year'].unique().tolist())

In [18]:
list_years_mileage.astype('int64').mean().round()

204665.0

In [19]:
Mileage_with_Na['Year'].unique()

array([2024, 2025, 2023, 2022], dtype=int64)

In [20]:
df_Brand_col = df_int['Brand']
df_Model_col = df_int['Model']

In [21]:
df_Brand_col = df_Brand_col.str.strip()

In [22]:
df_Brand_col.loc[0]

'شيفروليه                                                                                            || Chevrolet'

In [23]:
list_na_index= df_int.loc[df_int['Milage'].isna()].index.to_list()

In [24]:
for Year in df_means['Year']:
    for index_Na in list_na_index:
        if df_int.loc[index_Na, 'Year'] == Year:
            mean_milage = df_int.loc[(df_int['Year'] == Year) & (df_int['Milage'].notna()), 'Milage'].astype('int64').mean().round()
            df_int.loc[index_Na, 'Milage'] = mean_milage

In [25]:
df_int.loc[df_int['Milage'].isna()]

Empty DataFrame
Columns: [Brand, Model, Options, Year, Milage, Transmission, Location, Color, Fuel, Price, Post Date]
Index: []

In [26]:
df_int['Milage'] = df_int['Milage'].astype('int64')

In [27]:
df_int.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22555 entries, 0 to 22556
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         22555 non-null  object
 1   Model         22555 non-null  object
 2   Options       6860 non-null   object
 3   Year          22555 non-null  int64
 4   Milage        22555 non-null  int64
 5   Transmission  22555 non-null  object
 6   Location      22555 non-null  object
 7   Color         22555 non-null  object
 8   Fuel          22555 non-null  object
 9   Price         22555 non-null  int64
 10  Post Date     22555 non-null  object
dtypes: int64(3), object(8)
memory usage: 2.6+ MB

In [28]:
index_zero_values_mileage= df_int.loc[df_int['Milage']==0].index.to_list()#here we have zero values in mileage then we should deal with this

In [29]:
print(index_zero_values_mileage)

[59, 112, 165, 204, 205, 217, 236, 273, 285, 317, 353, 394, 399, 414, 462, 555, 579, 582, 587, 588, 591, 657, 718, 726, 734, 756, 757, 837, 852, 869, 898, 917, 918, 934, 936, 938, 1023, 1031, 1076, 1077, 1085, 1086, 1117, 1118, 1150, 1154, 1218, 1250, 1251, 1253, 1272, 1290, 1293, 1306, 1332, 1335, 1376, 1393, 1394, 1406, 1457, 1461, 1469, 1522, 1524, 1550, 1569, 1572, 1612, 1614, 1615, 1622, 1656, 1670, 1672, 1681, 1701, 1712, 1713, 1737, 1739, 1741, 1755, 1765, 1771, 1784, 1792, 1873, 1874, 1931, 1952, 1953, 1956, 1982, 2010, 2036, 2077, 2179, 2191, 2195, 2202, 2204, 2206, 2209, 2234, 2235, 2237, 2276, 2277, 2281, 2282, 2284, 2285, 2288, 2303, 2304, 2310, 2320, 2322, 2323, 2337, 2384, 2388, 2393, 2419, 2463, 2474, 2482, 2505, 2506, 2534, 2553, 2612, 2633, 2652, 2686, 2729, 2746, 2747, 2753, 2767, 2775, 2783, 2789, 2796, 2826, 2832, 2859, 2868, 2889, 2896, 2944, 2947, 2979, 2980, 2987, 2990, 3062, 3070, 3084, 3122, 3142, 3155, 3156, 3157, 3158, 3166, 3218, 3219, 3254, 3267, 3296, 3307, 3310, 3321, 3336, 3346, 3354, 3369, 3479, 3480, 3506, 3507, 3581, 3595, 3596, 3602, 3604, 3613, 3631, 3637, 3638, 3640, 3641, 3654, 3661, 3675, 3676, 3692, 3770, 3822, 3834, 3882, 3885, 3912, 3927, 3934, 3936, 3950, 3956, 4007, 4008, 4009, 4030, 4031, 4046, 4068, 4094, 4100, 4102, 4129, 4130, 4188, 4211, 4212, 4213, 4214, 4383, 4398, 4438, 4480, 4481, 4503, 4559, 4592, 4593, 4609, 4610, 4627, 4642, 4655, 4677, 4680, 4697, 4700, 4745, 4747, 4765, 4784, 4811, 4812, 4813, 4855, 4904, 4914, 4942, 4954, 5038, 5048, 5074, 5164, 5184, 5197, 5233, 5237, 5238, 5248, 5249, 5260, 5261, 5266, 5329, 5338, 5356, 5365, 5366, 5368, 5399, 5414, 5415, 5438, 5468, 5469, 5484, 5504, 5505, 5515, 5551, 5565, 5566, 5579, 5589, 5593, 5642, 5643, 5652, 5653, 5654, 5666, 5684, 5685, 5813, 5835, 5874, 5889, 5930, 5974, 6005, 6017, 6029, 6063, 6084, 6085, 6086, 6110, 6135, 6226, 6275, 6284, 6321, 6356, 6381, 6398, 6399, 6404, 6442, 6478, 6522, 6524, 6553, 6665, 6666, 6691, 6699, 6709, 6722, 6778, 6800, 6815, 6824, 6849, 6888, 6907, 6908, 6911, 6938, 6945, 6963, 6964, 7032, 7067, 7068, 7083, 7099, 7100, 7151, 7160, 7204, 7228, 7292, 7299, 7328, 7344, 7411, 7412, 7423, 7429, 7435, 7473, 7476, 7483, 7515, 7518, 7560, 7571, 7582, 7633, 7666, 7683, 7684, 7685, 7687, 7732, 7735, 7737, 7777, 7784, 7790, 7825, 7843, 7853, 7876, 7878, 7889, 7897, 7898, 7914, 7929, 7935, 7968, 7991, 8002, 8006, 8047, 8048, 8059, 8060, 8062, 8069, 8070, 8082, 8088, 8093, 8094, 8107, 8109, 8134, 8143, 8157, 8159, 8165, 8170, 8177, 8182, 8196, 8281, 8341, 8359, 8361, 8401, 8402, 8418, 8419, 8428, 8438, 8536, 8540, 8541, 8549, 8580, 8581, 8631, 8705, 8763, 8836, 8851, 8858, 8895, 8906, 8924, 8926, 8931, 8938, 8959, 9012, 9017, 9061, 9072, 9129, 9149, 9150, 9179, 9183, 9219, 9222, 9270, 9273, 9303, 9331, 9336, 9344, 9359, 9360, 9361, 9362, 9363, 9462, 9467, 9474, 9476, 9483, 9484, 9515, 9516, 9518, 9539, 9546, 9556, 9557, 9558, 9574, 9578, 9583, 9605, 9633, 9634, 9714, 9717, 9738, 9756, 9761, 9762, 9780, 9797, 9839, 9876, 9902, 9903, 9947, 9979, 9981, 10002, 10031, 10037, 10063, 10074, 10087, 10109, 10110, 10118, 10198, 10221, 10240, 10250, 10252, 10253, 10254, 10257, 10289, 10290, 10325, 10333, 10375, 10425, 10426, 10428, 10429, 10430, 10431, 10432, 10477, 10483, 10484, 10485, 10491, 10498, 10502, 10511, 10518, 10520, 10521, 10522, 10523, 10524, 10569, 10582, 10587, 10595, 10617, 10643, 10662, 10686, 10687, 10694, 10710, 10717, 10718, 10782, 10798, 10815, 10855, 10862, 10884, 10927, 10928, 10942, 10982, 11020, 11042, 11043, 11061, 11082, 11083, 11096, 11097, 11117, 11131, 11132, 11164, 11166, 11187, 11230, 11231, 11232, 11268, 11273, 11274, 11275, 11288, 11291, 11294, 11296, 11372, 11396, 11418, 11429, 11443, 11444, 11446, 11474, 11482, 11492, 11495, 11544, 11554, 11561, 11564, 11575, 11593, 11598, 11619, 11700, 11731, 11752, 11787, 11794, 11796, 11807, 11812, 11838, 11856, 11857, 11868, 11881, 11882, 11883, 11890, 11906, 11917, 11918, 11927, 11938, 11950, 11953, 11969, 11970, 12015, 12034, 12035, 12038, 12055, 12063, 12064, 12067, 12068, 12106, 12125, 12177, 12194, 12196, 12201, 12216, 12223, 12247, 12262, 12301, 12320, 12321, 12336, 12337, 12338, 12339, 12393, 12472, 12492, 12517, 12521, 12525, 12561, 12576, 12579, 12580, 12597, 12622, 12659, 12660, 12662, 12680, 12690, 12702, 12714, 12715, 12718, 12721, 12734, 12743, 12749, 12773, 12790, 12794, 12828, 12851, 12872, 12905, 12906, 12980, 13012, 13049, 13061, 13088, 13104, 13178, 13217, 13218, 13258, 13308, 13317, 13322, 13331, 13347, 13348, 13514, 13530, 13565, 13582, 13626, 13662, 13682, 13756, 13784, 13785, 13797, 13811, 13831, 13832, 13863, 13915, 13927, 13947, 13956, 13960, 13961, 13979, 14011, 14030, 14044, 14061, 14122, 14176, 14178, 14181, 14238, 14243, 14244, 14298, 14348, 14466, 14475, 14476, 14477, 14479, 14492, 14520, 14528, 14612, 14619, 14661, 14694, 14706, 14734, 14783, 14836, 14845, 14854, 14855, 14864, 14896, 14897, 14926, 14943, 14970, 14971, 14972, 14973, 14984, 15003, 15018, 15057, 15058, 15071, 15088, 15101, 15108, 15189, 15206, 15211, 15214, 15266, 15320, 15334, 15383, 15394, 15396, 15402, 15414, 15454, 15476, 15488, 15515, 15534, 15573, 15574, 15577, 15580, 15587, 15590, 15594, 15606, 15694, 15698, 15720, 15725, 15747, 15766, 15776, 15793, 15800, 15812, 15831, 15859, 15862, 15866, 15904, 15905, 15907, 15935, 15956, 15966, 16005, 16013, 16014, 16030, 16079, 16120, 16149, 16178, 16233, 16281, 16282, 16283, 16344, 16351, 16366, 16389, 16402, 16408, 16448, 16456, 16470, 16471, 16472, 16480, 16481, 16489, 16492, 16516, 16547, 16553, 16557, 16558, 16591, 16596, 16597, 16600, 16601, 16615, 16616, 16617, 16630, 16657, 16672, 16693, 16698, 16700, 16732, 16765, 16785, 16806, 16814, 16821, 16843, 16851, 16912, 16930, 16960, 16971, 16978, 16979, 16980, 16981, 16986, 16991, 16994, 16999, 17033, 17034, 17048, 17068, 17072, 17073, 17130, 17153, 17154, 17172, 17198, 17267, 17268, 17273, 17277, 17290, 17355, 17366, 17367, 17391, 17393, 17395, 17443, 17448, 17459, 17460, 17473, 17538, 17602, 17609, 17635, 17683, 17721, 17738, 17760, 17859, 17882, 17887, 17889, 17901, 17910, 17914, 17916, 17965, 17970, 17985, 17988, 17991, 17992, 17993, 18010, 18027, 18037, 18038, 18098, 18112, 18113, 18143, 18196, 18208, 18209, 18240, 18253, 18256, 18257, 18259, 18266, 18270, 18271, 18301, 18316, 18329, 18347, 18397, 18399, 18474, 18477, 18530, 18532, 18536, 18562, 18620, 18640, 18646, 18655, 18699, 18702, 18730, 18784, 18796, 18797, 18819, 18843, 18864, 18878, 18889, 18933, 18960, 18961, 18994, 19003, 19023, 19044, 19046, 19069, 19070, 19157, 19161, 19164, 19165, 19174, 19202, 19205, 19225, 19294, 19367, 19445, 19484, 19500, 19501, 19511, 19527, 19529, 19608, 19686, 19689, 19706, 19707, 19714, 19715, 19727, 19728, 19737, 19783, 19784, 19789, 19802, 19803, 19805, 19807, 19820, 19837, 19850, 19886, 19898, 19910, 19911, 19966, 20002, 20064, 20115, 20122, 20141, 20165, 20180, 20196, 20197, 20209, 20239, 20241, 20269, 20320, 20330, 20347, 20349, 20351, 20442, 20473, 20520, 20521, 20594, 20602, 20603, 20632, 20642, 20714, 20715, 20765, 20780, 20781, 20785, 20839, 20888, 20889, 20906, 20907, 20918, 20995, 21017, 21025, 21027, 21041, 21066, 21067, 21068, 21092, 21100, 21103, 21104, 21180, 21184, 21185, 21253, 21327, 21348, 21353, 21371, 21415, 21496, 21513, 21531, 21541, 21601, 21604, 21613, 21632, 21634, 21635, 21637, 21671, 21729, 21731, 21750, 21771, 21840, 21845, 21846, 21857, 21944, 21958, 21975, 22029, 22078, 22087, 22114, 22141, 22183, 22185, 22269, 22307, 22314, 22372, 22375, 22386, 22461, 22476, 22478, 22506, 22507, 22542]

In [30]:
x = df_int[df_int['Model'] == df_int.loc[df_int['Year']==2026,'Model'].tolist()[0]].mode()['Year']

In [31]:
df_int.loc[df_int['Year']==df_int['Year'].max(),'Year'] = 2010

In [32]:
df_int = df_int.drop(df_int.loc[df_int['Year']==1971].index)

In [33]:
df_int.loc[df_int['Year']==1972]

,Brand,Model,Options,Year,Milage,Transmission,Location,Color,Fuel,Price,Post Date
7854,فولكس فاغن ...,بيتل ...,NaN,1972,18000,مانيوال,المنوفية,احمر,بنزين,130000,2025-03-16

In [34]:
index_zero_values_mileage

[59,
 112,
 165,
 204,
 205,
 217,
 236,
 273,
 285,
 317,
 353,
 394,
 399,
 414,
 462,
 555,
 579,
 582,
 587,
 588,
 591,
 657,
 718,
 726,
 734,
 756,
 757,
 837,
 852,
 869,
 898,
 917,
 918,
 934,
 936,
 938,
 1023,
 1031,
 1076,
 1077,
 1085,
 1086,
 1117,
 1118,
 1150,
 1154,
 1218,
 1250,
 1251,
 1253,
 1272,
 1290,
 1293,
 1306,
 1332,
 1335,
 1376,
 1393,
 1394,
 1406,
 1457,
 1461,
 1469,
 1522,
 1524,
 1550,
 1569,
 1572,
 1612,
 1614,
 1615,
 1622,
 1656,
 1670,
 1672,
 1681,
 1701,
 1712,
 1713,
 1737,
 1739,
 1741,
 1755,
 1765,
 1771,
 1784,
 1792,
 1873,
 1874,
 1931,
 1952,
 1953,
 1956,
 1982,
 2010,
 2036,
 2077,
 2179,
 2191,
 2195,
 2202,
 2204,
 2206,
 2209,
 2234,
 2235,
 2237,
 2276,
 2277,
 2281,
 2282,
 2284,
 2285,
 2288,
 2303,
 2304,
 2310,
 2320,
 2322,
 2323,
 2337,
 2384,
 2388,
 2393,
 2419,
 2463,
 2474,
 2482,
 2505,
 2506,
 2534,
 2553,
 2612,
 2633,
 2652,
 2686,
 2729,
 2746,
 2747,
 2753,
 2767,
 2775,
 2783,
 2789,
 2796,
 2826,
 2832,
 2859,
 2868,
 2889,
 2896,
 2944,
 2947,
 2979,
 2980,
 2987,
 2990,
 3062,
 3070,
 3084,
 3122,
 3142,
 3155,
 3156,
 3157,
 3158,
 3166,
 3218,
 3219,
 3254,
 3267,
 3296,
 3307,
 3310,
 3321,
 3336,
 3346,
 3354,
 3369,
 3479,
 3480,
 3506,
 3507,
 3581,
 3595,
 3596,
 3602,
 3604,
 3613,
 3631,
 3637,
 3638,
 3640,
 3641,
 3654,
 3661,
 3675,
 3676,
 3692,
 3770,
 3822,
 3834,
 3882,
 3885,
 3912,
 3927,
 3934,
 3936,
 3950,
 3956,
 4007,
 4008,
 4009,
 4030,
 4031,
 4046,
 4068,
 4094,
 4100,
 4102,
 4129,
 4130,
 4188,
 4211,
 4212,
 4213,
 4214,
 4383,
 4398,
 4438,
 4480,
 4481,
 4503,
 4559,
 4592,
 4593,
 4609,
 4610,
 4627,
 4642,
 4655,
 4677,
 4680,
 4697,
 4700,
 4745,
 4747,
 4765,
 4784,
 4811,
 4812,
 4813,
 4855,
 4904,
 4914,
 4942,
 4954,
 5038,
 5048,
 5074,
 5164,
 5184,
 5197,
 5233,
 5237,
 5238,
 5248,
 5249,
 5260,
 5261,
 5266,
 5329,
 5338,
 5356,
 5365,
 5366,
 5368,
 5399,
 5414,
 5415,
 5438,
 5468,
 5469,
 5484,
 5504,
 5505,
 5515,
 5551,
 5565,
 5566,
 5579,
 5589,
 5593,
 5642,
 5643,
 5652,
 5653,
 5654,
 5666,
 5684,
 5685,
 5813,
 5835,
 5874,
 5889,
 5930,
 5974,
 6005,
 6017,
 6029,
 6063,
 6084,
 6085,
 6086,
 6110,
 6135,
 6226,
 6275,
 6284,
 6321,
 6356,
 6381,
 6398,
 6399,
 6404,
 6442,
 6478,
 6522,
 6524,
 6553,
 6665,
 6666,
 6691,
 6699,
 6709,
 6722,
 6778,
 6800,
 6815,
 6824,
 6849,
 6888,
 6907,
 6908,
 6911,
 6938,
 6945,
 6963,
 6964,
 7032,
 7067,
 7068,
 7083,
 7099,
 7100,
 7151,
 7160,
 7204,
 7228,
 7292,
 7299,
 7328,
 7344,
 7411,
 7412,
 7423,
 7429,
 7435,
 7473,
 7476,
 7483,
 7515,
 7518,
 7560,
 7571,
 7582,
 7633,
 7666,
 7683,
 7684,
 7685,
 7687,
 7732,
 7735,
 7737,
 7777,
 7784,
 7790,
 7825,
 7843,
 7853,
 7876,
 7878,
 7889,
 7897,
 7898,
 7914,
 7929,
 7935,
 7968,
 7991,
 8002,
 8006,
 8047,
 8048,
 8059,
 8060,
 8062,
 8069,
 8070,
 8082,
 8088,
 8093,
 8094,
 8107,
 8109,
 8134,
 8143,
 8157,
 8159,
 8165,
 8170,
 8177,
 8182,
 8196,
 8281,
 8341,
 8359,
 8361,
 8401,
 8402,
 8418,
 8419,
 8428,
 8438,
 8536,
 8540,
 8541,
 8549,
 8580,
 8581,
 8631,
 8705,
 8763,
 8836,
 8851,
 8858,
 8895,
 8906,
 8924,
 8926,
 8931,
 8938,
 8959,
 9012,
 9017,
 9061,
 9072,
 9129,
 9149,
 9150,
 9179,
 9183,
 9219,
 9222,
 9270,
 9273,
 9303,
 9331,
 9336,
 9344,
 9359,
 9360,
 9361,
 9362,
 9363,
 9462,
 9467,
 9474,
 9476,
 9483,
 9484,
 9515,
 9516,
 9518,
 9539,
 9546,
 9556,
 9557,
 9558,
 9574,
 9578,
 9583,
 9605,
 9633,
 9634,
 9714,
 9717,
 9738,
 9756,
 9761,
 9762,
 9780,
 9797,
 9839,
 9876,
 9902,
 9903,
 9947,
 9979,
 9981,
 10002,
 10031,
 10037,
 10063,
 10074,
 10087,
 10109,
 10110,
 10118,
 10198,
 10221,
 10240,
 10250,
 10252,
 10253,
 10254,
 10257,
 10289,
 10290,
 10325,
 10333,
 10375,
 10425,
 10426,
 10428,
 10429,
 10430,
 10431,
 10432,
 10477,
 10483,
 10484,
 10485,
 10491,
 10498,
 10502,
 10511,
 10518,
 10520,
 10521,
 10522,
 10523,
 10524,
 10569,
 10582,
 10587,
 10595,
 10617,
 10643,
 10662,
 10686,
 10687,
 10694,
 10710,
 10717,
 10718,
 10782,
 10798,
 10815,
 10855,
 10862,
 10884,
 10927,
 10928,
 10942,
 10982,
 11020,
 11042,
 11043,
 11061,
 11082,
 11083,
 11096,
 11097,
 11117,
 11131,
 11132,
 11164,
 11166,
 11187,
 11230,
 11231,
 11232,
 11268,
 11273,
 11274,
 11275,
 11288,
 11291,
 11294,
 11296,
 11372,
 11396,
 11418,
 11429,
 11443,
 11444,
 11446,
 11474,
 11482,
 11492,
 11495,
 11544,
 11554,
 11561,
 11564,
 11575,
 11593,
 11598,
 11619,
 11700,
 11731,
 11752,
 11787,
 11794,
 11796,
 11807,
 11812,
 11838,
 11856,
 11857,
 11868,
 11881,
 11882,
 11883,
 11890,
 11906,
 11917,
 11918,
 11927,
 11938,
 11950,
 11953,
 11969,
 11970,
 12015,
 12034,
 12035,
 12038,
 12055,
 12063,
 12064,
 12067,
 12068,
 12106,
 12125,
 12177,
 12194,
 12196,
 12201,
 12216,
 12223,
 12247,
 12262,
 12301,
 12320,
 12321,
 12336,
 12337,
 12338,
 12339,
 12393,
 12472,
 12492,
 12517,
 12521,
 12525,
 12561,
 12576,
 12579,
 12580,
 12597,
 12622,
 12659,
 12660,
 12662,
 12680,
 12690,
 12702,
 12714,
 12715,
 12718,
 12721,
 12734,
 12743,
 12749,
 12773,
 12790,
 12794,
 12828,
 12851,
 12872,
 12905,
 12906,
 12980,
 13012,
 13049,
 13061,
 13088,
 13104,
 13178,
 13217,
 13218,
 13258,
 13308,
 13317,
 13322,
 13331,
 13347,
 13348,
 13514,
 13530,
 13565,
 13582,
 13626,
 13662,
 13682,
 13756,
 13784,
 13785,
 13797,
 13811,
 13831,
 13832,
 13863,
 13915,
 13927,
 13947,
 13956,
 13960,
 13961,
 13979,
 14011,
 14030,
 14044,
 14061,
 14122,
 14176,
 14178,
 14181,
 14238,
 14243,
 14244,
 14298,
 14348,
 14466,
 14475,
 14476,
 14477,
 14479,
 14492,
 14520,
 14528,
 14612,
 14619,
 14661,
 14694,
 14706,
 14734,
 14783,
 14836,
 14845,
 14854,
 14855,
 14864,
 14896,
 14897,
 14926,
 14943,
 14970,
 14971,
 14972,
 14973,
 14984,
 15003,
 15018,
 15057,
 15058,
 15071,
 15088,
 15101,
 15108,
 15189,
 15206,
 15211,
 15214,
 15266,
 15320,
 15334,
 15383,
 15394,
 15396,
 15402,
 15414,
 15454,
 15476,
 15488,
 15515,
 15534,
 15573,
 15574,
 15577,
 15580,
 15587,
 15590,
 15594,
 15606,
 15694,
 15698,
 15720,
 15725,
 15747,
 15766,
 15776,
 15793,
 15800,
 15812,
 15831,
 15859,
 15862,
 15866,
 15904,
 15905,
 15907,
 15935,
 15956,
 15966,
 16005,
 16013,
 16014,
 16030,
 16079,
 16120,
 16149,
 16178,
 16233,
 16281,
 16282,
 16283,
 16344,
 16351,
 16366,
 16389,
 16402,
 16408,
 16448,
 16456,
 16470,
 16471,
 16472,
 16480,
 16481,
 16489,
 16492,
 16516,
 16547,
 16553,
 16557,
 16558,
 16591,
 16596,
 16597,
 16600,
 16601,
 16615,
 16616,
 16617,
 16630,
 16657,
 16672,
 16693,
 16698,
 16700,
 16732,
 16765,
 16785,
 16806,
 16814,
 16821,
 16843,
 16851,
 16912,
 16930,
 16960,
 16971,
 16978,
 16979,
 16980,
 16981,
 16986,
 16991,
 16994,
 16999,
 17033,
 17034,
 17048,
 17068,
 17072,
 17073,
 17130,
 17153,
 17154,
 17172,
 17198,
 17267,
 17268,
 17273,
 17277,
 17290,
 17355,
 17366,
 17367,
 17391,
 17393,
 17395,
 17443,
 17448,
 17459,
 17460,
 17473,
 17538,
 17602,
 17609,
 17635,
 17683,
 17721,
 17738,
 17760,
 17859,
 17882,
 17887,
 17889,
 17901,
 17910,
 17914,
 17916,
 17965,
 17970,
 17985,
 17988,
 17991,
 17992,
 17993,
 18010,
 18027,
 18037,
 18038,
 18098,
 18112,
 18113,
 18143,
 18196,
 18208,
 18209,
 18240,
 18253,
 18256,
 18257,
 18259,
 18266,
 18270,
 18271,
 18301,
 18316,
 18329,
 18347,
 18397,
 18399,
 18474,
 18477,
 18530,
 18532,
 18536,
 18562,
 18620,
 18640,
 18646,
 18655,
 18699,
 18702,
 18730,
 18784,
 18796,
 18797,
 18819,
 18843,
 18864,
 18878,
 18889,
 ...]

In [35]:
df_means['Year']

0     1971
1     1972
2     1973
3     1974
4     1975
5     1976
6     1977
7     1978
8     1979
9     1980
10    1981
11    1982
12    1983
13    1984
14    1985
15    1986
16    1987
17    1988
18    1989
19    1990
20    1991
21    1992
22    1993
23    1994
24    1995
25    1996
26    1997
27    1998
28    1999
29    2000
30    2001
31    2002
32    2003
33    2004
34    2005
35    2006
36    2007
37    2008
38    2009
39    2010
40    2011
41    2012
42    2013
43    2014
44    2015
45    2016
46    2017
47    2018
48    2019
49    2020
50    2021
51    2022
52    2023
53    2024
54    2025
55    2026
Name: Year, dtype: int64

In [36]:
df_int['Milage'].iloc[index] = df_means.loc[df_means['Year'] == year, 'Year']

NameError: name 'index' is not defined

In [ ]:
index_zero_values_mileage[900]

16986

In [ ]:
df_int['Milage']

0         63000
1         31000
2         31000
3        158000
4           168
          ...
22552    156000
22553    170000
22554    204000
22555     96000
22556     90000
Name: Milage, Length: 22554, dtype: int64

In [ ]:
# Corrected code
for year in df_means['Year']:
    for index in index_zero_values_mileage:
        if df_int.loc[index, 'Year'] == year:
            mean_milage = df_means.loc[df_means['Year'] == year, 'Milage'].iloc[0]  # Get the mean Milage for the year
            df_int.loc[index, 'Milage'] = mean_milage

In [ ]:
df_int[(df_int['Milage']<1000)&(df_int['Year']==2025)]

,Brand,Model,Options,Year,Milage,Transmission,Location,Color,Fuel,Price,Post Date
246,سيات ...,اتيكا ...,اتوماتيك / Style Plus,2025,20,أتوماتيك‎,القاهرة,أزرق,بنزين,1800000,2025-04-19
247,بيجو ...,3008,اتوماتيك / Style Plus,2025,20,أتوماتيك‎,القاهرة,أزرق,بنزين,800000,2025-04-19
274,مرسيدس ...,E 200,NaN,2025,950,أتوماتيك‎,التجمع - القاهرة الجديدة,أبيض,بنزين,5950000,2025-04-18
275,كيا ...,سيراتو ...,NaN,2025,950,أتوماتيك‎,التجمع - القاهرة الجديدة,أبيض,بنزين,700000,2025-04-18
281,كوبرا ...,ليون ...,اتوماتيك,2025,20,أتوماتيك‎,القاهرة,بيج,بنزين,1920000,2025-04-19
...,...,...,...,...,...,...,...,...,...,...,...
20810,ام جى ...,7,NaN,2025,350,أتوماتيك‎,القاهرة,فضي,بنزين,1700000,2025-02-19
20811,فيات ...,بونتو ...,NaN,2025,350,أتوماتيك‎,القاهرة,فضي,بنزين,360000,2025-02-19
21170,فيات ...,تيبو ...,مانيوال,2025,70,مانيوال,القاهرة,رمادي,بنزين,790000,2025-02-13
21767,رينو ...,تاليانت ...,اتوماتيك / Evolution,2025,35,أتوماتيك‎,التجمع - القاهرة الجديدة,أسود,بنزين,770000,2025-02-02
22067,شيفروليه ...,N300,مانيوال / بيز لاين,2025,300,مانيوال,الدقهلية,فضي,بنزين,700000,2025-01-28

In [ ]:
for year in df_means['Year']:
    for index in index_zero_values_mileage:
        if(df_int['Year'].iloc[index]==year):
            df_int['Milage'].iloc[index] = df_means.loc[df_means['Year']==year,'Year']

KeyError: 13947

In [ ]:
df_int[df_int['Milage']==0]

,Brand,Model,Options,Year,Milage,Transmission,Location,Color,Fuel,Price,Post Date
4904,دايو ...,لانوس 2 ...,NaN,2004,0,مانيوال,مصر الجديدة,فضي,بنزين,295000,2025-04-03
4914,كينبو ...,مينى فان ...,NaN,2015,0,مانيوال,العلمين,أبيض,بنزين,250000,2025-04-03
4942,سيتروين ...,سي اليزيه ...,اتوماتيك / Luxury,2022,0,أتوماتيك‎,مدينة الشيخ زايد,فضي,بنزين,950000,2025-03-01
4954,بيجو ...,504,NaN,1979,0,مانيوال,مدينة نصر,أبيض,بنزين,150000,2025-04-03
5038,فيات ...,تمبرا ...,NaN,1999,0,مانيوال,طوخ,رمادي,بنزين,135000,2025-04-02
...,...,...,...,...,...,...,...,...,...,...,...
22476,بى واى دى‬ ...,F3,NaN,2011,0,مانيوال,القاهرة,فضي,بنزين,275000,2025-01-21
22478,شيفروليه ...,لانوس ...,NaN,2009,0,مانيوال,القاهرة,أبيض,بنزين,230000,2025-01-21
22506,بيجو ...,405,NaN,1976,0,مانيوال,الإسكندرية,أزرق,بنزين,120000,2025-01-20
22507,دايو ...,لانوس 2 ...,NaN,1976,0,مانيوال,الإسكندرية,أزرق,بنزين,270000,2025-01-20
22542,فيات ...,ريجاتا ...,NaN,1987,0,مانيوال,إمبابة,أبيض,بنزين,65000,2025-01-20